/* bootstrap default font override */
body{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

/* dark overlay in slider image */
.dark-overlay:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
  }

  .company-trust-section ul, footer ul{
    list-style-type: none;
  }

  a{
    text-decoration: none;
  }


